In [1]:
import pandas as pd
import numpy as np

In [2]:
# Source: http://web.mta.info/developers/fare.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/fares/fares_{}.csv"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url, index_col=0, names=['REMOTE','STATION','FF', 'SEN/DIS', '7-D AFAS UNL','30-D AFAS/RMF UNL','JOINT RR TKT','7-D UNL','30-D UNL','7D-XBUS PASS','TCMC','RF 2 TRIP','RR UNL NO TRADE','TCMC ANNUAL MC','MR EZPAY EXP','MR EZPAY UNL', 'PATH 2-T','AIRTRAIN FF','AIRTRAIN 30-D','AIRTRAIN 10-T','AIRTRAIN MTHLY','STUDENTS','NICE 2-T','CUNY-120','CUNY-60','FF VALUE','FF 7-DAY','FF 30-DAY','R001','WHITEHALL STREET']))
    return pd.concat(dfs)

In [3]:
#every saturday week num starts
#year , month, day

#june 2020
week_nums = [200627, 200620, 200613]
june_fares = get_data(week_nums)

#dropping rows
june_fares = june_fares.drop(june_fares.index[[0,2]])

#drop last column
june_df_fares = june_fares.drop('WHITEHALL STREET', axis=1) 
june_df_fares

,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,R001
REMOTE,,,,,,,,,,,,,,,,,,,,,
R001,WHITEHALL STREET,00010945,00000745,00000092,00000110,00000008,00002374,00001715,00000039,00000045,...,00000000,00000000,00000332,00000000,00000012,00000000,00000442,00000110,00000088,...
R003,CYPRESS HILLS,00001663,00000061,00000000,00000011,00000000,00000438,00000203,00000000,00000005,...,00000000,00000000,00000158,00000000,00000007,00000000,00000084,00000018,00000031,...
R004,75TH STREET & ELDERTS LANE,00003433,00000156,00000011,00000017,00000000,00001054,00000498,00000008,00000010,...,00000000,00000000,00000236,00000000,00000026,00000000,00000149,00000036,00000022,...
R005,85TH STREET & FOREST PKWAY,00003647,00000177,00000014,00000023,00000000,00001008,00000521,00000000,00000010,...,00000000,00000000,00000207,00000000,00000032,00000000,00000125,00000026,00000037,...
R006,WOODHAVEN BOULEVARD,00004294,00000210,00000019,00000016,00000005,00001223,00000584,00000001,00000013,...,00000000,00000000,00000295,00000000,00000030,00000000,00000173,00000040,00000012,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00008660,00000498,00000029,00000087,00000005,00001619,00001841,00000015,00000056,...,00000000,00000000,00000215,00000000,00000018,00000000,00000153,00000043,00000085,...
R572,96TH STREET - 2 AVENUE,00008761,00000770,00000062,00000076,00000001,00001894,00001893,00000014,00000049,...,00000000,00000000,00000289,00000000,00000041,00000000,00000317,00000079,00000075,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000015,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000004,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000002,00000000,00000000,00000000,00000000,...

In [4]:
#groupby station and indexing & aggregating senior citizen/disabled tickets column
june_sen_dis = june_df_fares.groupby('STATION')[['SEN/DIS']].sum()
june_sen_dis

                                                 SEN/DIS
STATION
103RD ST-CENTRAL PARK WEST      000002400000021800000164
103RD ST-ROOSEVELT AVE          000009500000046700000380
103RD STREET-BROADWAY           000007540000064500000541
103RD STREET-LEXINGTON AVE      000007540000068300000586
104TH STREET                    000001070000010000000089
...                                                  ...
WOODHAVEN BOULEVARD             000002100000018900000153
WOODLAWN ROAD                   000003490000032500000278
WTC-CORTLANDT ST                000001230000009800000068
YORK STREET-JAY STREET          000002050000018200000163
ZEREGA AVE-WESTCHESTER AVE      000000730000008400000070

[471 rows x 1 columns]

In [5]:
#pd.to_numeric() in order to convert or columns to numeric types
#change type to float b/c value is too large for int
june_sen_disn = pd.to_numeric(june_sen_dis['SEN/DIS'].astype(float))
june_sen_disn

STATION
103RD ST-CENTRAL PARK WEST        2.400000e+18
103RD ST-ROOSEVELT AVE            9.500000e+18
103RD STREET-BROADWAY             7.540000e+18
103RD STREET-LEXINGTON AVE        7.540000e+18
104TH STREET                      1.070000e+18
                                      ...
WOODHAVEN BOULEVARD               2.100000e+18
WOODLAWN ROAD                     3.490000e+18
WTC-CORTLANDT ST                  1.230000e+18
YORK STREET-JAY STREET            2.050000e+18
ZEREGA AVE-WESTCHESTER AVE        7.300000e+17
Name: SEN/DIS, Length: 471, dtype: float64

In [6]:
#find the index of the maximum value along the index axis; return the row label
june_sen_disn.idxmax(axis = 0, skipna=True)

'42ND STREET & GRAND CENTRAL   '

In [7]:
#march 2020
week_nums = [200328, 200321, 200314]
march_fares = get_data(week_nums)

#dropping rows
march_fares = march_fares.drop(march_fares.index[[0,2]])
march_fares

#drop last column
march_df_fares = march_fares.drop('WHITEHALL STREET', axis=1) 
march_df_fares

,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,R001
REMOTE,,,,,,,,,,,,,,,,,,,,,
R001,WHITEHALL STREET,00012463,00000849,00000246,00000643,00000015,00010415,00009268,00000113,00000109,...,00000000,00000000,00000304,00000000,00000141,00000000,00000251,00000278,00000249,...
R003,CYPRESS HILLS,00001623,00000112,00000004,00000028,00000000,00001540,00000727,00000002,00000005,...,00000000,00000000,00000148,00000000,00000022,00000000,00000053,00000069,00000043,...
R004,75TH STREET & ELDERTS LANE,00004313,00000232,00000018,00000088,00000001,00003303,00001893,00000001,00000008,...,00000000,00000000,00000443,00000000,00000053,00000000,00000130,00000110,00000095,...
R005,85TH STREET & FOREST PKWAY,00004746,00000269,00000066,00000123,00000000,00003467,00002277,00000000,00000005,...,00000000,00000000,00000311,00000000,00000072,00000000,00000128,00000073,00000104,...
R006,WOODHAVEN BOULEVARD,00004188,00000299,00000065,00000108,00000002,00004769,00002636,00000009,00000020,...,00000000,00000000,00000430,00000000,00000077,00000000,00000098,00000094,00000070,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00053625,00005919,00000308,00000911,00000047,00018268,00050260,00000103,00001052,...,00000000,00000000,00003553,00000000,00000106,00000000,00000300,00000214,00000298,...
R572,96TH STREET - 2 AVENUE,00033805,00003658,00000308,00001254,00000025,00016169,00034547,00000095,00000392,...,00000000,00000000,00005714,00000000,00000201,00000000,00000581,00000511,00000625,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000661,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000446,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000578,00000000,00000000,00000000,00000000,...

In [8]:
#groupby station and indexing & aggregating senior citizen/disabled tickets column
march_sen_dis = march_df_fares.groupby('STATION')[['SEN/DIS']].sum()
march_sen_dis

                                                 SEN/DIS
STATION
103RD ST-CENTRAL PARK WEST      000003500000088600001123
103RD ST-ROOSEVELT AVE          000011330000119600001449
103RD STREET-BROADWAY           000011480000364500005077
103RD STREET-LEXINGTON AVE      000010010000191300002186
104TH STREET                    000001970000028500000303
...                                                  ...
WOODHAVEN BOULEVARD             000002990000052200000609
WOODLAWN ROAD                   000002900000052000000608
WTC-CORTLANDT ST                000002830000093500001286
YORK STREET-JAY STREET          000002770000065200000877
ZEREGA AVE-WESTCHESTER AVE      000001570000032700000416

[473 rows x 1 columns]

In [9]:
#pd.to_numeric() in order to convert or columns to numeric types
#change type to float b/c value is too large for int
march_sen_disn = pd.to_numeric(march_sen_dis['SEN/DIS'].astype(float))
march_sen_disn

STATION
103RD ST-CENTRAL PARK WEST        3.500000e+18
103RD ST-ROOSEVELT AVE            1.133000e+19
103RD STREET-BROADWAY             1.148000e+19
103RD STREET-LEXINGTON AVE        1.001000e+19
104TH STREET                      1.970000e+18
                                      ...
WOODHAVEN BOULEVARD               2.990000e+18
WOODLAWN ROAD                     2.900000e+18
WTC-CORTLANDT ST                  2.830000e+18
YORK STREET-JAY STREET            2.770000e+18
ZEREGA AVE-WESTCHESTER AVE        1.570000e+18
Name: SEN/DIS, Length: 473, dtype: float64

In [10]:
#find the index of the maximum value along the index axis; return the row label
march_sen_disn.idxmax(axis = 0, skipna=True)

'42ND STREET & GRAND CENTRAL   '

In [11]:
#december 2019
week_nums = [191207, 191214, 191221]
december_fares = get_data(week_nums)

#dropping rows
december_fares = december_fares.drop(december_fares.index[[0,2]])
december_fares

#drop last column
december_df_fares = december_fares.drop('WHITEHALL STREET', axis=1) 
december_df_fares

,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,R001
REMOTE,,,,,,,,,,,,,,,,,,,,,
R001,WHITEHALL STREET,00057638,00002491,00000411,00000999,00000090,00029362,00023967,00000295,00000543,...,00000000,00000000,00002660,00000000,00000653,00000000,00000314,00000288,00000303,...
R003,CYPRESS HILLS,00002824,00000169,00000007,00000037,00000000,00002197,00001110,00000000,00000002,...,00000000,00000000,00000586,00000000,00000076,00000000,00000053,00000063,00000048,...
R004,75TH STREET & ELDERTS LANE,00006869,00000472,00000043,00000161,00000001,00004540,00003227,00000001,00000015,...,00000000,00000000,00002867,00000000,00000131,00000000,00000111,00000131,00000090,...
R005,85TH STREET & FOREST PKWAY,00007471,00000605,00000079,00000212,00000000,00004727,00003692,00000005,00000024,...,00000000,00000000,00001418,00000000,00000176,00000000,00000132,00000080,00000120,...
R006,WOODHAVEN BOULEVARD,00007435,00000555,00000082,00000213,00000004,00006859,00004515,00000006,00000041,...,00000000,00000000,00002169,00000000,00000226,00000000,00000134,00000128,00000091,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00068707,00007458,00000367,00000928,00000059,00025514,00048965,00000096,00001167,...,00000000,00000000,00003571,00000000,00000141,00000000,00000218,00000158,00000182,...
R572,96TH STREET - 2 AVENUE,00041720,00004122,00000341,00001489,00000029,00021519,00033828,00000072,00000535,...,00000000,00000000,00005850,00000000,00000249,00000000,00000395,00000463,00000398,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00001034,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000626,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000635,00000000,00000000,00000000,00000000,...

In [12]:
#groupby station and indexing & aggregating senior citizen/disabled tickets column
dec_sen_dis = december_df_fares.groupby('STATION')[['SEN/DIS']].sum()
dec_sen_dis

                                                 SEN/DIS
STATION
103RD ST-CENTRAL PARK WEST      000009560000112600001133
103RD ST-ROOSEVELT AVE          000013010000143000001427
103RD STREET-BROADWAY           000044080000537500005879
103RD STREET-LEXINGTON AVE      000019420000223200002232
104TH STREET                    000003080000033600000282
...                                                  ...
WOODHAVEN BOULEVARD             000005550000065200000517
WOODLAWN ROAD                   000005450000060200000569
WTC-CORTLANDT ST                000009370000131900001382
YORK STREET-JAY STREET          000008270000094300001078
ZEREGA AVE-WESTCHESTER AVE      000003430000045300000403

[473 rows x 1 columns]

In [13]:
#pd.to_numeric() in order to convert or columns to numeric types
#change type to float b/c value is too large for int
dec_sen_disn = pd.to_numeric(dec_sen_dis['SEN/DIS'].astype(float))
dec_sen_disn

STATION
103RD ST-CENTRAL PARK WEST        9.560000e+18
103RD ST-ROOSEVELT AVE            1.301000e+19
103RD STREET-BROADWAY             4.408000e+19
103RD STREET-LEXINGTON AVE        1.942000e+19
104TH STREET                      3.080000e+18
                                      ...
WOODHAVEN BOULEVARD               5.550000e+18
WOODLAWN ROAD                     5.450000e+18
WTC-CORTLANDT ST                  9.370000e+18
YORK STREET-JAY STREET            8.270000e+18
ZEREGA AVE-WESTCHESTER AVE        3.430000e+18
Name: SEN/DIS, Length: 473, dtype: float64

In [14]:
#find the index of the maximum value along the index axis; return the row label
dec_sen_disn.idxmax(axis = 0, skipna=True)

'42ND STREET & GRAND CENTRAL   '