In [107]:
%matplotlib inline
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import pandas as pd

In [173]:
# Source: http://web.mta.info/developers/fare.html
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/fares/fares_{}.csv"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url, index_col=0, names=range(30)))
    return pd.concat(dfs)

In [174]:
#every saturday week num starts
#year , month, day

#june 2020
week_nums = [200627, 200620, 200613]
june_fares = get_data(week_nums)

In [175]:
#march 2020
week_nums = [200328, 200321, 200314]
march_fares = get_data(week_nums)

In [176]:
#december 2019
week_nums = [191207, 191214, 191221]
december_fares = get_data(week_nums)

In [177]:
december_fares

,1,2,3,4,5,6,7,8,9,10,...,20,21,22,23,24,25,26,27,28,29
0,,,,,,,,,,,,,,,,,,,,,
,FARECARD USAGE BY STATION FOR DATE RANGE:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
,11/23/2019-11/29/2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN
REMOTE,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,...,NaN
R001,WHITEHALL STREET,00057638,00002491,00000411,00000999,00000090,00029362,00023967,00000295,00000543,...,00000000,00002660,00000000,00000653,00000000,00000314,00000288,00000303,...,NaN
R003,CYPRESS HILLS,00002824,00000169,00000007,00000037,00000000,00002197,00001110,00000000,00000002,...,00000000,00000586,00000000,00000076,00000000,00000053,00000063,00000048,...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00068707,00007458,00000367,00000928,00000059,00025514,00048965,00000096,00001167,...,00000000,00003571,00000000,00000141,00000000,00000218,00000158,00000182,...,NaN
R572,96TH STREET - 2 AVENUE,00041720,00004122,00000341,00001489,00000029,00021519,00033828,00000072,00000535,...,00000000,00005850,00000000,00000249,00000000,00000395,00000463,00000398,...,NaN
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00001034,00000000,00000000,00000000,00000000,...,NaN
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000626,00000000,00000000,00000000,00000000,...,NaN
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000635,00000000,00000000,00000000,00000000,...,NaN

In [148]:
december_fares.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1462 entries,       to R575
Data columns (total 28 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       1462 non-null   object
 1   2       1456 non-null   object
 2   3       1456 non-null   object
 3   4       1456 non-null   object
 4   5       1456 non-null   object
 5   6       1456 non-null   object
 6   7       1456 non-null   object
 7   8       1456 non-null   object
 8   9       1456 non-null   object
 9   10      1456 non-null   object
 10  11      1456 non-null   object
 11  12      1456 non-null   object
 12  13      1456 non-null   object
 13  14      1456 non-null   object
 14  15      1456 non-null   object
 15  16      1456 non-null   object
 16  17      1456 non-null   object
 17  18      1456 non-null   object
 18  19      1456 non-null   object
 19  20      1456 non-null   object
 20  21      1456 non-null   object
 21  22      1456 non-null   object
 22  23      1456 non-null   object
 23  24      1456 non-null   object
 24  25      1462 non-null   object
 25  26      1456 non-null   object
 26  27      1456 non-null   object
 27  28      1456 non-null   object
dtypes: object(28)
memory usage: 331.2+ KB

In [178]:
december_fares.isna().sum()

1        0
2        6
3        6
4        6
5        6
6        6
7        6
8        6
9        6
10       6
11       6
12       6
13       6
14       6
15       6
16       6
17       6
18       6
19       6
20       6
21       6
22       6
23       6
24       6
25       0
26       6
27       6
28       6
29    1462
dtype: int64

In [149]:
december_fares.tail()

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,,,,,,,,,,,,,,,,,,,,,
R571,86TH STREET - 2 AVENUE,00068707,00007458,00000367,00000928,00000059,00025514,00048965,00000096,00001167,...,00000000,00000000,00003571,00000000,00000141,00000000,00000218,00000158,00000182,...
R572,96TH STREET - 2 AVENUE,00041720,00004122,00000341,00001489,00000029,00021519,00033828,00000072,00000535,...,00000000,00000000,00005850,00000000,00000249,00000000,00000395,00000463,00000398,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00001034,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000626,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000635,00000000,00000000,00000000,00000000,...

In [150]:
march_fares

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,,,,,,,,,,,,,,,,,,,,,
,FARECARD USAGE BY STATION FOR DATE RANGE:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN
,03/14/2020-03/20/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN
REMOTE,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,...
R001,WHITEHALL STREET,00012463,00000849,00000246,00000643,00000015,00010415,00009268,00000113,00000109,...,00000000,00000000,00000304,00000000,00000141,00000000,00000251,00000278,00000249,...
R003,CYPRESS HILLS,00001623,00000112,00000004,00000028,00000000,00001540,00000727,00000002,00000005,...,00000000,00000000,00000148,00000000,00000022,00000000,00000053,00000069,00000043,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00053625,00005919,00000308,00000911,00000047,00018268,00050260,00000103,00001052,...,00000000,00000000,00003553,00000000,00000106,00000000,00000300,00000214,00000298,...
R572,96TH STREET - 2 AVENUE,00033805,00003658,00000308,00001254,00000025,00016169,00034547,00000095,00000392,...,00000000,00000000,00005714,00000000,00000201,00000000,00000581,00000511,00000625,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000661,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000446,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000578,00000000,00000000,00000000,00000000,...

In [179]:
march_fares.isna().sum()

1        0
2        6
3        6
4        6
5        6
6        6
7        6
8        6
9        6
10       6
11       6
12       6
13       6
14       6
15       6
16       6
17       6
18       6
19       6
20       6
21       6
22       6
23       6
24       6
25       0
26       6
27       6
28       6
29    1464
dtype: int64

In [153]:
june_fares

,1,2,3,4,5,6,7,8,9,10,...,19,20,21,22,23,24,25,26,27,28
0,,,,,,,,,,,,,,,,,,,,,
,FARECARD USAGE BY STATION FOR DATE RANGE:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN
,06/13/2020-06/19/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN
REMOTE,STATION,FF,SEN/DIS,7-D AFAS UNL,30-D AFAS/RMF UNL,JOINT RR TKT,7-D UNL,30-D UNL,7D-XBUS PASS,TCMC,...,AIRTRAIN 10-T,AIRTRAIN MTHLY,STUDENTS,NICE 2-T,CUNY-120,CUNY-60,FF VALUE,FF 7-DAY,FF 30-DAY,...
R001,WHITEHALL STREET,00010945,00000745,00000092,00000110,00000008,00002374,00001715,00000039,00000045,...,00000000,00000000,00000332,00000000,00000012,00000000,00000442,00000110,00000088,...
R003,CYPRESS HILLS,00001663,00000061,00000000,00000011,00000000,00000438,00000203,00000000,00000005,...,00000000,00000000,00000158,00000000,00000007,00000000,00000084,00000018,00000031,...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
R571,86TH STREET - 2 AVENUE,00011643,00000740,00000044,00000091,00000000,00002221,00002447,00000015,00000092,...,00000000,00000000,00000268,00000000,00000017,00000000,00000203,00000063,00000081,...
R572,96TH STREET - 2 AVENUE,00010809,00000975,00000072,00000103,00000000,00002396,00002449,00000012,00000074,...,00000000,00000000,00000437,00000000,00000039,00000000,00000494,00000111,00000106,...
R573,SBS-Q52/53 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000018,00000000,00000000,00000000,00000000,...
R574,SBS-B82 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000010,00000000,00000000,00000000,00000000,...
R575,SBS-M14 @ LIVINGSTON PLAZA,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,00000000,...,00000000,00000000,00000000,00000000,00000004,00000000,00000000,00000000,00000000,...

In [180]:
june_fares.isna().sum()

1        0
2        6
3        6
4        6
5        6
6        6
7        6
8        6
9        6
10       6
11       6
12       6
13       6
14       6
15       6
16       6
17       6
18       6
19       6
20       6
21       6
22       6
23       6
24       6
25       0
26       6
27       6
28       6
29    1450
dtype: int64